<div class="main">
    <div class="content">
        <div class="container">
            <div *ngFor="let formdata of finaldatas">
                <div class="md-form md-outline w-25 mx-auto" *ngIf="formdata.name === 'text'">
                    <input id="form-lg w-25" class="form-control" type="{{formdata.name}}" mdbInput>
                    <label for="form-lg">Example label</label>
                </div>
                <select *ngIf="formdata.name === 'select'" class="mt-4">
                    <option value='ministatement'>
                        ministatement
                    </option>
                    <option value='balance'>
                        balance
                    </option>
                    <option value='demo'>
                        demo
                    </option>
                </select>
                <div *ngIf="formdata.name === 'radio'" class="mt-4">
                    <input type="{{formdata.name}}" value="male"> male
                </div>
                <div *ngIf="formdata.name === 'checkbox'" class="mt-4">
                    <input type="{{formdata.name}}"> Please check in
                </div>
                <button type="button" class="btn btn-primary" *ngIf="formdata.name === 'button'">This is Button</button>
            </div>
        </div>
    </div>
</div>