.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: table;
    color: black;

}

.content {
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

select {
    width: 150px;
    height: 30px;
    outline: none;
  }
  