<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="example-container">
                <h2>Choose The Field</h2>
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div> -->
                    <div class="row ml-2">
                        <div class="col-3"  *ngFor="let item of todo;" >
                            <div class="example-box" cdkDrag>{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="example-container">
                <h2>WORKSPACE</h2>
                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>
                        <input mdbInput type="{item.name}" *ngIf="item.name === 'text'" id="form1" class="form-control"
                            placeholder="textfield">

                        <select *ngIf="item.name === 'select'">
                            <option value='ministatement'>
                                ministatement
                            </option>
                            <option value='balance'>
                                balance
                            </option>
                            <option value='demo'>
                                demo
                            </option>
                        </select>

                        <div *ngIf="item.name === 'radio'">
                            <label class="radiocontainer">Male
                                <input type="{{item.name}}" name="radio">
                                <span class="radiomark"></span>
                            </label>
                        </div>

                        <div *ngIf="item.name === 'checkbox'">
                            <label class="checkcontainer">Please check in
                                <input type="{{item.name}}">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <button *ngIf="item.name === 'button'" type="button" class="btn btn-primary">This is
                            Button</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="example-container">
                <h2>Json Structure</h2>
                <div *ngFor="let selecteditesm of addeddatas">
                    {{selecteditesm | json}},
                </div>
            </div>
        </div>
    </div>
</div>