$bgcolor: crimson;
$textcolor: white;
$fontsize: 18px;
$height: 45px;
$width: 100%;


/* Use the variables */
.topbar {
    background-color: $bgcolor;
    height: $height;
    width: $width;
}

.textprop {
    color: $textcolor;
    font-size: $fontsize;
    float: right;
}